# 1password item IDs
OP_TALOS_ITEM_ID='abcdefg123456'
REGISTRY_1P_ITEM_ID='abcdefg123456'

# Situational config
SOURCE_ENV='dev1'
TARGET_ENVS='dev2,dev3'
APP_PATTERN='wtf-*' # Assuming your kustomize manifest is layed out like some_dir/wtf-app1 and .../wtf-app2 etc
PROJECT_NAME='wtf'

# URLS and hosts
REGISTRY_HOSTNAME='container-registry.fqdn.example.com'
TLD='my.fancy.tld'
REPO_URL='https://github.com/abradner/athena-gitops.git'
